body {
    font-family: 'Poppins', sans-serif;
}
nav {
    background-color: #002147;
    height: 80px;
}

.navbar-brand {
    font-weight: 700;
    font-size: 30px;
}

.nav-link {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.nav-link.active {
    font-weight: 700;
}

.navbar .nav-link.active {
    color: #FDC800;
}

.navbar .nav-link:hover {
    color: #FDC800;
}

.button {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button a {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: #FDC800;
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offcanvas-header img {
    margin-right: -12px;
    margin-left: 12px;
}

.offcanvas-title {
    font-size: 24px;
    font-weight: 700;

}
@media(max-width: 991px) {
    .sidebar {
        background-color: #002147;
        backdrop-filter: blur(10px);
    }

}

.judul {
    top: 10px;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 400;
}

.header {
    background-color: #013876;
    color: #fff;
    font-size: 30px;
}
.dd {
    max-width: 58rem;
    margin-top: -50px;
    margin-left: 50px;
    background-color: #013876;
    display: flex;
    justify-content: center;
    height: 100px;
}

.daftar {
    width: 100%;
    height: 100%;
    font-size: 48px;
}

.isi {
    float: left;
}

.isi-text {
    text-align: justify;
    letter-spacing: -0.5px;
}

.jppdb {
    padding-top: 150px;
}

.kepsek {
    height: 440px;
    width: 300px;
    float: right;
    right: 100px;
}

.kepsek .isi img {
    margin-left: 25px;
}

.kepsek .jabatan {
    margin-top: 20px;
    text-align: center;
}

.kepsek .isi-text {
    text-align: center;
    margin-bottom: 30px;
}

.custom {
    max-width: 100%;
}

.arsip {
    float: right;
    right: 70px;
    bottom: 100rem;
}

.arsip-title {
    color: white;
    float: right;
}

.tulisan {
    float: right;
    background-color: white;
    max-width: 300px;
    right: 70px;
    bottom: 99rem;
}

.tulisan img {
    height: 200px;
    width: 130px;
    border-radius: 0px;

}

.tulisan h5 {
    font-size: 18px;
    text-align: center;
}

.tulisan p {
    font-size: 12px;
    margin-left: 20px;
}

/* footer */

.foot-1 {
    background-color: #002147;
    color: white;
    text-align: center;
    border-radius: 0;
    border: none;
    display: flex;
}
.foot-1 .kontak {
    display: flex;
    max-width: 100%;
}
.foot-2 {
    text-align: center;
    font-size: 15px;
}
.bi {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    color: white;
}
.kontak h5 {
    text-align: center;
}
.icon-1 {
    float: right;
}
.icon-1 a:hover {
    color: #FDC800;
}
@media (max-width: 1330px) {
    .kontak h5 {
        font-size: 18px;
    }
    .bi {
        font-size: 25px;
    }
}
@media (max-width: 1211px) {
    .kontak h5 {
        font-size: 14px;
    }
    .bi {
        font-size: 23px;
    }
}
@media (max-width: 999px) {
    .kontak h5 {
        font-size: 12px;
    }
    .bi {
        font-size: 20px;
    }
}
@media (max-width: 891px) {
    .kontak h5 {
        font-size: 10px;
    }
    .bi {
        font-size: 17px;
    }
}
@media (max-width: 765px) {
    .kontak h5 {
        font-size: 9px;
    }
    .bi {
        font-size: 15px;
    }
}