body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #007bff; /* Warna biru */
    color: #fff;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.logo {
    margin-bottom: 20px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-left: 250px; /* Menggeser konten ke kanan untuk memberikan ruang bagi sidebar */
    padding: 20px;
}
